.NavigationMenu {
  flex: 1;
  margin: 20px;
}

.NavigationCard {
  min-width: 230px;
}

.NavigationHeader {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 5px;
}

.CardHeaderText {
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
  align-self: center;
  margin-left: 5px;
}

.CardExpander {
  justify-self: flex-end;
  align-self: center;
  justify-self: center;
  margin-right: 5px;
}

.SubCard1 {
  border: 1px white solid;
  margin-left: 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
